<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">InstaTimeline</h1>
        <p class="splash-subhead">
            InstaTimeline is  designed to create a beautifully crafted timeline customized to your wedding. Simply enter in the event’s unique hashtag and InstaTimeline does the rest.

        </p>

          <input ng-model="hashtag" placeholder="pagingthemarcels"></input> 

        <p>
            <a ng-click="generate()" id = "generateButton" class="pure-button pure-button-primary">Generate</a>
        </p>
    </div>
</div>